name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt pytest httpx
          
      - name: Run Model Training & Verify Accuracy
        run: |
          python train.py > train_output.txt
          cat train_output.txt
          # The pipeline will fail here if the string "Accuracy" isn't found in the output
          grep "Model Accuracy" train_output.txt

      - name: Run Unit & Integration Tests
        run: pytest test_app.py

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ryansaad85/toxic-sentinel-api:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ryansaad85/toxic-sentinel-api:latest
            docker stop sentinel-container || true
            docker rm sentinel-container || true
            docker run -d \
              --name sentinel-container \
              -p 80:8000 \
              --restart always \
              ryansaad85/toxic-sentinel-api:latest
            docker image prune -f
