- name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ryansaad85/toxic-sentinel-api:latest
            docker stop sentinel-container || true
            docker rm sentinel-container || true
            # Run on internal port 8000 so Nginx can proxy to it
            docker run -d \
              --name sentinel-container \
              -p 127.0.0.1:8000:8000 \
              --restart always \
              ryansaad85/toxic-sentinel-api:latest
            docker image prune -f
